
#mainHeading {
    color: red;
    background-color: rgb(7, 24, 24);
    margin: 20px;
    padding: 20px;
    border: 2px;
    border-style: ridge;
    border-collapse: collapse;
    border-color: rgb(142, 27, 27);
    text-align: center;
    border-radius: 50px;
}

.titleCards {
    color: white;
    background-color: rgb(6, 148, 101);
    padding: 15px;
    /* border-radius: 50px; */
    width: 400px;
    border-style: inset;
    border-color: rgb(129, 101, 155);
    border-width: thick;
    text-align: center;
    /* display: inline-block; */
    margin: auto;
}



body {
    background-color: white;
    margin: 8px;
    display: block;
    background-color: black;
}

#testP {
    background-color: rgb(67, 13, 67);
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.funParagraph {
    color: green;
}

article {
    text-align: center;
    padding: 25px
    margin: 50px;
}

img {
    border-style: groove;
    border-width: 15px;
    border-color: lavenderblush;
    margin-top: 40px;
}

section {
    text-align: center;
}

#outro {
    color: white;
}

footer {
    color: white;
}

